<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Mini portfólio</title>
</head>
<body>
    <header>
        <a id="opcoes" href="">HOME</a>
        <a id="opcoes" href="">PROJETOS</a>
        <a id="opcoes" href="">CONTATO</a>
        <a id="pesquisar" href="">PESQUISAR</a>
    </header>

    <div class="apresentacao">
        <img class="foto-apresentacao" src="../static/images/foto.jpg" alt="foto de jean">
        <div class="texto-apresentacao">
            <h1>Olá, sou Jean Mendes!</h1>
            <p>Sou designer gráfico especializado em criativos para redes sociais. Transformo ideias em visuais impactantes que engajam e fortalecem marcas no digital.</p>
            <p>Combinando estratégia, design e tendências, crio conteúdos que se destacam e comunicam com eficácia. Vamos trabalhar juntos?</p>
        </div>
    </div>

    <div class="projetos">
        <div class="projetos-l1">
            <img src="../static/images/APRES CASH.IO 1.jpg" alt="">
            <div class="projetos-l1-texto">
                <h2>Identidade Visual - CASH.IO</h2>
                <p>Uma identidade visual moderna e confiável para o Cash.IO — uma plataforma voltada para organização financeira pessoal e empresarial. A marca precisava comunicar segurança, praticidade e controle.</p>
            </div>

            <img src="../static/images/LOGO DD OFICIAL.jpg" alt="">
            <div class="projetos-l1-texto">
                <h2>Identidade Visual - DELÍCIA DOCES</h2>
                <p>Uma identidade visual doce, feminina e acolhedora para a marca Delícia Doces, especializada em bolos e doces artesanais. O foco era transmitir leveza, sabor e carinho em cada detalhe.</p>
            </div>
        </div>

        <div class="projetos-l1">
            <div class="projetos-l1-texto">
                <h2>Arte gráfica - ANIVERSÁRIO DE GARANHUNS</h2>
                <p>Uma arte comemorativa para celebrar os 146 anos da cidade de Garanhuns, homenageando a cidade de forma respeitosa e visualmente impactante para o público das redes sociais militares.</p>
            </div>
            <img src="../static/images/04 ANIVERSARIO GARANHUNS.png" alt="">

            <div class="projetos-l1-texto">
                <h2>Arte gráfica - OUTUBRO ROSA</h2>
                <p>Uma arte para campanha institucional de prevenção ao câncer de mama, destacando a importância do autocuidado e da conscientização no mês de outubro.</p>
            </div>
            <img src="../static/images/19f449211348059.6721364263cc1.png" alt="">
        </div>
    </div>

    <footer>
        <div class="redes">
            <a href=""><img src="../static/images/behance (2).png" alt=""></a>
            <a href=""><img src="../static/images/instagram (1).png" alt=""></a>
            <a href=""><img src="../static/images/whatsapp (1).png" alt=""></a>
        </div>
        <a href="">Rua dos Alfeneiros, 110, Centro, Garanhuns - PE <br> 55290-000</a>
        <p>Copyright © 2024. Todos os direitos reservados.</p>
    </footer>
</body>
</html>